# Basics of Python

## Simple pthon syntaxes

In [1]:
1+1

2

In [2]:
print("Hi this is rohan")

Hi this is rohan

In [3]:
print('Hi this is rohan')

Hi this is rohan

In [5]:
"""Hi tis is really awesome food.!!!"""

'Hi tis is really awesome food.!!!'

In [7]:
# this is really good
'''Hi tis is really awesome food.!!!'''

'Hi tis is really awesome food.!!!'

In [8]:
4*5

20

In [13]:
a = int(input("Enter a no"))
b = int(input("Enter a no"))

def ma(x,y):
    print(f'1st no is {x} and second no is {y}')
    print(f'addition is {a+b}')
    print(f'subtraction is {a-b}')
    print(f'mul is {a*b}')
    print(f'div is {a/b}')
    print(f'mod is {a%b}')
    print(f'exponent is {a^b}')
    print(f'power is {a**b}')

ma(a,b)

Enter a no2
Enter a no3
1st no is 2 and second no is 3
addition is 5
subtraction is -1
mul is 6
div is 0.6666666666666666
mod is 2
exponent is 1
power is 8

In [15]:
10*' Rohan'

' Rohan Rohan Rohan Rohan Rohan Rohan Rohan Rohan Rohan Rohan'

In [22]:
## to know the datatype

print(type(100))
print(type(13.600))
print(type(100+7j))
print(type('rohan das'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [24]:
a=10
type(a)

int

In [25]:
a='sup'
type(a)

str

In [26]:
f_name = 'rohan'
l_name = 'das'
print(f'first name is {f_name} and last nme is {l_name}')

first name is rohan and last nme is das

In [29]:
l = [1,2,3,4,5]
type(l)
tuple(l)

(1, 2, 3, 4, 5)

In [43]:
a = 'rohan das123'

print(a.capitalize())
print(a.casefold())
print(len(a))
print(a.isalnum())
print(a.isalpha())
print(a.isdecimal())
print(a.islower())
print(a.startswith('r'))
print(a.endswith('k'))

Rohan das123
rohan das123
12
False
False
False
True
True
False

In [47]:
l = [1,2,3]
type(l)

list

In [48]:
len(l)

3

In [51]:
l=['rohan','das',12,23]
l
len(l)

4

In [52]:
l.append('supr')
l

['rohan', 'das', 12, 23, 'supr']

In [56]:
l.pop()
l.append(36)
l

['rohan', 36]

In [57]:
l.append(49)
l.append(454)
l.append('suf')
l

['rohan', 36, 49, 454, 'suf']

In [58]:
l.index(36)

1

In [59]:
l.index(49)

2

In [60]:
l.index('suf')

4

In [61]:
l.insert(3,'suchi')
l

['rohan', 36, 49, 'suchi', 454, 'suf']

In [67]:
## indexing 

for i in l:
    print(i)

rohan
36
49
suchi
454
suf

In [68]:
[i for i in l]

['rohan', 36, 49, 'suchi', 454, 'suf']

In [70]:
l[1:4]

[36, 49, 'suchi']

In [73]:
l[3:5]

['suchi', 454]

In [74]:
l.append(['rohit','kohli'])
l

['rohan', 36, 49, 'suchi', 454, 'suf', ['rohit', 'kohli']]

In [76]:
## extend

l.extend([9,10,11])
l

['rohan',
 36,
 49,
 'suchi',
 454,
 'suf',
 ['rohit', 'kohli'],
 '9,10,11',
 9,
 10,
 11]

In [78]:
a = [20,30,10,40,50]
sum(a)

150

In [79]:
## counting of a number of occuerance in a list

a = [10,20,30,10,20,30,30,30,30]
a.count(30)

5

In [80]:
min(a)

10

In [81]:
max(a)

30