<a href="https://colab.research.google.com/github/rvjh/PythonPractice/blob/main/Dictionary_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = [1,2,3,4]
b= ['m','n','p','o']

c = dict(zip(a,b))
c

{1: 'm', 2: 'n', 3: 'p', 4: 'o'}

1. Write a Python script to sort (ascending and descending) a dictionary by value.

In [17]:
a = [1,2,3,4]
b= ['m','n','p','o']

c = dict(zip(a,b))

## ascendring order
print(sorted(c.values()))

## decendring order
print(sorted(c.values(),reverse=True))

['m', 'n', 'o', 'p']
['p', 'o', 'n', 'm']

Write a Python script to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [21]:
a = {0: 10, 1: 20}
a.update({2:20})
a

b = {'m':20, 'n':30}
b.update({'o':50})
print(b)

{'m': 20, 'n': 30, 'o': 50}

Write a Python script to concatenate following dictionaries to create a new one.

Sample Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [28]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}


dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
## or

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic4 = {}

for i in (dic1,dic2,dic3):
  dic4.update(i)

print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Write a Python script to check whether a given key already exists in a dictionary.

In [34]:
a = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

if 4 in a.keys():
  print("True")
else:
  print("false")

True

Write a Python program to iterate over dictionaries using for loops

In [42]:
a = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

for i in a.keys():
  print(f"items = {i} and values ={a[i]}")


## or

for i, j in a.items():
  print(f"key {i} and value {j}")

items = 1 and values =10
items = 2 and values =20
items = 3 and values =30
items = 4 and values =40
items = 5 and values =50
items = 6 and values =60
key 1 and value 10
key 2 and value 20
key 3 and value 30
key 4 and value 40
key 5 and value 50
key 6 and value 60

Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 

Sample Dictionary ( n = 5) :

Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [46]:
def f1(a):
  d= {}
  for i in range(1,a+1):
    d.update({i: i**2})
  return d

f1(5)
f1(6)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.

Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [47]:
def f2(a):
  d={}
  for i in range(1,a+1):
    d.update({i : i**2})
  return d

f2(15)

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

Write a Python script to merge two Python dictionaries.

In [50]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}

dic1.update(dic2)
dic1

{1: 10, 2: 20, 3: 30, 4: 40}

Write a Python program to iterate over dictionaries using for loops.

In [52]:
a = {1: 10, 2: 20, 3: 30, 4: 40}
for i,j in a.items():
  print(f"keys {i} => items {j}")

keys 1 => items 10
keys 2 => items 20
keys 3 => items 30
keys 4 => items 40

Write a Python program to sum all the items in a dictionary.

In [53]:
a = {1: 10, 2: 20, 3: 30, 4: 40}
b=[]
for i,j in a.items():
  b.append(i)
print(sum(b))

10

Write a Python program to multiply all the items in a dictionary.

In [55]:
a = {1: 10, 2: 20, 3: 30, 4: 40}
b=[]
for i,j in a.items():
  b.append(i)

s=1
for k in b:
  s=s*k
print(s)

24

Write a Python program to remove a key from a dictionary

In [59]:
a = {1: 10, 2: 20, 3: 30, 4: 40}

a.pop(3)

a

{1: 10, 2: 20, 4: 40}

Write a Python program to map two lists into a dictionary.

In [60]:
a = [1,2,3,4]
b= ['m','n','p','o']

c = zip(a,b)
print(dict(c))

{1: 'm', 2: 'n', 3: 'p', 4: 'o'}

Write a Python program to sort a given dictionary by key.

In [64]:
color_dict = {'red':'#FF0000',
          'green':'#008000',
          'black':'#000000',
          'white':'#FFFFFF'}

for key in sorted(color_dict):
    print("%s: %s" % (key, color_dict[key]))

black: #000000
green: #008000
red: #FF0000
white: #FFFFFF

Write a Python program to get the maximum and minimum value in a dictionary

In [67]:
a = {1: 10, 2: 20, 3: 30, 4: 40}

b=[]
for i, j in a.items():
  b.append(j)
print(max(b))
print(min(b))

40
10

Write a Python program to get a dictionary from an object's fields.

In [71]:
class rohan():
  def __init__(self):
    self.X = "red"
    self.Y = "green"
    self.Z = "blue"

  def ab(self):
    pass

r = rohan()
print(r.__dict__)

{'X': 'red', 'Y': 'green', 'Z': 'blue'}

Write a Python program to check a dictionary is empty or not.

In [73]:
d={}

if not bool(d):
  print("empty")

empty

## Write a Python program to combine two dictionary adding values for common keys. 

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [81]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

from collections import Counter
d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

Write a Python program to print all unique values in a dictionary. Go to the editor

Sample Data : 
[{"V":"S001"}, 

{"V": "S002"}, 

{"VI": "S001"}, 

{"VI": "S005"}, 

{"VII":"S005"}, 

{"V":"S009"},

{"VIII":"S007"}]

Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [86]:
Data = [{"V":"S001"},

              {"V": "S002"},

              {"VI": "S001"},

              {"VI": "S005"},

              {"VII":"S005"},

              {"V":"S009"},

              {"VIII":"S007"}]

b= []
for i in Data:
  for m,n in i.items():
    b.append(n)

set(b)

{'S001', 'S002', 'S005', 'S007', 'S009'}

Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary. 

Sample data : {'1':['a','b'], '2':['c','d']}

Expected Output:
ac
ad
bc
bd

In [91]:
import itertools      
d ={'1':['a','b'], '2':['c','d']}
for combo in itertools.product(*[d[k] for k in sorted(d.keys())]):
    print(''.join(combo))

ac
ad
bc
bd