<a href="https://colab.research.google.com/github/rvjh/PythonPractice/blob/main/PythonPractice22092022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

********DAY 1********

Python coding question:

Given a list of integers, return True if the array contains a 3 next to a 3 somewhere.

Desired output:

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

has_33([3,3,1]) → True

In [ ]:
def has_33(arr):
  for idx in range(1,len(arr)):
    if arr[idx]== 3 and arr[idx-1]==3:
      return True
    return False

print(has_33([3,3,1]))
print(has_33([1,3,1]))
print(has_33([3, 1, 3]))

True
False
False

*******DAY 2********
Python coding question:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.

Desired output:

lesser_of_two_evens(2,4)---> 2

lesser_of_two_evens(2,3)---> 3

lesser_of_two_evens(3,4)---> 4

In [ ]:
def lesser_of_two_evens(a,b):
  if a%2==0 and b%2==0:
    if a > b:
      return b
    else:
      return a
  else:
    if a > b:
      return a
    else:
      return b

print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,3))
print(lesser_of_two_evens(3,4))

2
3
4

********DAY 3********
Python coding question:

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
def uni_list(l):
  s = set(l)
  print(f"old list : {l}")
  print(f"new list : {list(s)}")

uni_list([1,1,1,1,2,2,3,3,3,3,4,5])

old list : [1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 5]
new list : [1, 2, 3, 4, 5]

********DAY 4********
Python coding question:

Write a Python function to check whether a string is pangram or not. 

(Assume the string passed in does not have any punctuation)
Note:A pangram is a sentence containing every letter of the alphabet.

Example:
A quick brown fox jumps over the lazy dog.

In [ ]:
def pangram(s):
  alphabet='abcdefghijklmnopqrstuvwxyz'
  for char in alphabet:
    if char not in s.lower():
      return False
  
  return True

pangram("A quick brown fox jumps over the lazy dog")

True

********DAY 5********
Python coding question:
Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Crazy Chocolate') --> True
animal_crackers('Lazy Dog') --> False

In [ ]:
def animal_crackers(s):
  s=s.lower()
  l=s.split()
  if l[0][0] == l[1][0]:
    return True
  else:
    return False

a=input("enter teo word string")
animal_crackers(a)

enter teo word stringCrazy Chocolate

True

In [ ]:
a=input("enter teo word string")
animal_crackers(a)

enter teo word stringLazy Dog

False

Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True

 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(l):
  p=[]
  for i in range(0,len(l)-1):
    if l[i]==0 and l[i+1]==0 and l[i+2]==7:
      p.append(l[i])
      p.append(l[i+1])
      p.append(l[i+2])
  if p == [0,0,7]:
    return True
  else:
    return False

print(spy_game([1,2,4,0,0,7,5]))
print(spy_game([1,0,2,4,0,5,7]))
print(spy_game([1,7,2,0,4,5,0]))

True
False
False

********DAY 7********
Python coding question:

Define a function called myfunc that takes in a string,
and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. 
Desired output:
myfunc('aNiMaL')-->True

In [ ]:
def myfunc(s):
  m=''
  for i in range(0,len(s)):
    if i%2 !=0 :
      m = m + s[i].upper()
    else:
      m = m + s[i].lower()
  return m

myfunc('abcdr')

'aBcDr'

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [ ]:
def up_low(s):
  d={
      'upper':0,
     'lower':0
  }
  for i in s:
    if i.isupper():
      d['upper'] = d['upper'] + 1
    elif i.islower():
      d['lower'] = d['lower'] + 1
    else:
      pass
  return d


up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

{'upper': 4, 'lower': 33}

Write a Python function that checks whether a word or phrase is palindrome or not.
Example of Palindrome:
Hannah
Anna

In [ ]:
def palindrome(s):
  s = s.lower()
  if s[0:] == s[::-1]:
    return "Palindrome"
  else:
    return "Not plaindrome"

print(palindrome('Hannah'))

print(palindrome('Anahna'))

Palindrome
Not plaindrome

Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [ ]:
def mul_list(l):
  m = 1
  if len(l) == 0:
    return "mul not possible "
  else:
    for i in l:
      m = m*i
    return f"mul is {m}"

mul_list([1, 2, 3, -4])

'mul is -24'

Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def mul_three(s):
  m=''
  for i in range(0,len(s)):
    m = m + s[i]*3
  return m

print(mul_three('Hello'))
print(mul_three('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

Write a code to check whether a year is leap year or not.
Note:A year that is evenly divisible by 100 is a leap year only if it is also evenly divisible by 400.

Desired Output:
is_leap(1994)-->Leap year
is_leap(2100)-->not a Leap year
is_leap(2000)—>Leap year

In [ ]:
def is_leap(y):
  if (y%4==0 and y%100!=0) or y%400 ==0 :
    return (f"{y} is a leap year")
  else:
    return (f"{y} not a leap year")

print(is_leap(1994))
print(is_leap(2000))

1994 not a leap year
2000 is a leap year

Python coding question:
Write a function that capitalizes the first and fourth letters of a name.

TC 1:capitalize("chandrali")
  'ChaNdrali'
TC 2:capitalize("roy")
   'Name is too short!'

In [ ]:
def cap_one_four(s):
  if len(s) <4:
    return 'Name is too short!'
  else:
    return s[0].upper() + s[1:3] + s[3].upper() + s[4:]

print(cap_one_four('rohan'))
print(cap_one_four('chandrali'))
print(cap_one_four('roy'))

RohAn
ChaNdrali
Name is too short!

Print the list of integers from through as a string, without spaces.
Sample Input
3
Sample Output
123

In [ ]:
def to_list_str(m):
  l=[]
  for i in range(1,m+1):
    l.append(str(i))
  return ''.join(l)

to_list_str(3)

'123'

Print only the words that start with "s" in a sentence.

Input:
Salad is healthy snack.

Output:
Salad
snack

In [ ]:
def starts_s(s):
  s = s.lower()
  l = s.split()
  m=[]
  for i in l:
    if i[0] =='s':
      m.append(i)
  return m

starts_s('Salad is healthy snack')

['salad', 'snack']

********DAY 18********
Python coding question:

Given an integer n, return True if n is within 10 of either 100 or 200.
abs(90)--True
abs(220)--False

In [ ]:
def within(n):
  if (n in range(90,111) or n in range(190,211)):
    return True
  else:
    return False

print(within(190))
print(within(90))
print(within(150))
print(within(290))
print(within(89))

True
True
False
False
False

********DAY 19********
Python coding question:

BLACKJACK: Given three integers between 1 and 11,
if their sum is less than or equal to 21, return their sum. 
If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
  if a + b + c <= 21:
    return a + b + c
  elif (a+b+c) > 21 and (a == 11 or b == 11 or c == 11):
    return a+b+c -10
  else:
    return 'BUST'
    
print(blackjack(5,6,7))
print(blackjack(9,9,9))
print(blackjack(9,9,11))

18
BUST
19

Write a Python code to accept a string and count the number of vowels and consonants.
Print them separately.

In [ ]:
def vol_con(s):
  s = s.lower()
  s = s.replace(" ",'')
  v = 0
  c = 0
  for i in s:
    if i in ['a','e','i','o','u']:
      v = v+1
    else:
      c = c+1

  return f'no of voewls {v} and consonents {c}'

vol_con("Emma is good developer. Emma is a writer")

'no of voewls 15 and consonents 18'

Write a program to find the sum of squares of first 'n' natural numbers.
Input : N = 4
Output : 30

In [ ]:

def sum_of_n(a):
  if a == 0:
    return 0
  else:
    return (a*(a+1)*(2*a+1))/6

m = int(input("Enter the nth term : "))
sum_of_n(m)

Enter the nth term : 4

30.0

Write a program to find how many times substring “Emma” appears in the given string.
input:
str = "Emma is good developer. Emma is a writer"
Output:
Emma appeared 2 times

In [ ]:
def str_occ(s):
  s = s.lower()
  m = input("Enter the string to found : ")
  c = s.count(m)

  return f'the word {m} occuers {c} times. '

str_occ("Emma is good developer. Emma is a writer")

Enter the string to found : emma

'the word emma occuers 2 times. '

Write a function in Python that accepts a credit card number. 
It should return a string where all the characters are hidden with an asterisk except the last four. 
For example, if the function gets sent "4444444444444444", then it should return "4444".

In [ ]:
def return_credit(n):
  if len(n)<12 or len(n)>12:
    return 'Invalid card number '
  else:
    return 'X'*9+n[8:]

return_credit('123456789012')

'XXXXXXXXX9012'

Write a function in Python that accepts a list of any length that contains a mix of non-negative integers and strings.
The function should return a list with only the integers in the original list in the same order.

In [ ]:
def int_ret(l):
  a=[]
  for i in l:
    if str(i).isdigit():
      a.append(i)
    else:
      pass
  return a

a = [1,2,'rohan','ervb',23]
int_ret(a)

[1, 2, 23]

In [ ]:
#SQL 1

#ends with letter 'n'

select country from Data
where country like "%n"

In [ ]:
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the absolute difference in salaries

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
db_employee.head()

#db_dept.head()

c_df= db_dept.set_index('id').join(db_employee.set_index('department_id'))
salary_difference = abs( c_df[c_df['department']=='engineering'].salary.max() - c_df[c_df['department']=='marketing'].salary.max())
salary_difference

In [ ]:
SELECT
ABS((SELECT max(salary)
FROM db_employee emp
JOIN db_dept dept ON emp.department_id = dept.id
WHERE department = 'engineering') - (SELECT max(salary)
FROM db_employee emp
JOIN db_dept dept ON emp.department_id = dept.id
WHERE department = 'marketing')) AS salary_diffe;

In [ ]:
def findSum(str1):
    temp = "0"
    Sum = 0
    for ch in str1:
      if (ch.isdigit()):
        temp += ch

      else:
        Sum += int(temp)
        temp = "0"
    return Sum + int(temp)
 
str1 = "12abc20yz68"
 
# Function call
print(findSum(str1))

100

In [ ]:
## country name starts with a to z

select * from Data
where country like "[a-z]%"

In [ ]:
def sum_of_two(a,b,v):
  for i in a:
    for j in b:
      if i + j == v:
        print(f"Possibel Match : {i} and {j} and sum is : {i+j}")

sum_of_two([1,2,-3],[10,20,-30],22)

Possibel Match : 2 and 20 and sum is : 22

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys


#
# Complete the 'fizzBuzz' function below.
#
# The function accepts INTEGER n as parameter.
#

def fizzBuzz(n):
    # Write your code here
    for i in range(1,n+1):
        if i%3==0 and i%5==0:
            print("FizzBuzz")
        elif i%3==0 and i%5!=0:
            print("Fizz")
        elif i%3!=0 and i%5==0:
            print("Buzz")
        else:
            print(i)
if __name__ == '__main__':
    n = int(input().strip())

    fizzBuzz(n)

15
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

Find the details of each customer regardless of whether the customer made an order. Output the customer's first name, last name, and the city along with the order details.
You may have duplicate rows in your results due to a customer ordering several of the same items. Sort records based on the customer's first name and the order details in ascending order.

In [ ]:
select first_name,
       last_name,
       city,
       order_details
from customers left join orders
on customers.id = orders.cust_id
order by first_name,order_details

In [ ]:
select c.first_name,
       o.order_date,
       o.order_details,
       o.total_order_cost
from customers c left join orders o
on o.cust_id = c.id
where c.first_name in ('Jill','Eva')
order by cust_id

In [ ]:
## select records that have a in the second position

select country from Table
where country like '%_a'

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
ms_employee_salary.head()

r = ms_employee_salary.groupby(['id','first_name','last_name','department_id'])['salary'].max().reset_index().sort_values('id')

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
customers.head()

c = pd.merge(customers,orders,left_on='id',right_on='cust_id',how='left')

r = c[['first_name','last_name','city','order_details']].sort_values(['first_name','order_details'])

In [ ]:
import pandas as pd
import numpy as np

result = airbnb_search_details.groupby(['city','property_type'])['bedrooms','bathrooms'].mean().reset_index().rename(index=str, 
                                                                                                                     columns={"bedrooms": "n_bedrooms_avg", "bathrooms": "n_bathrooms_avg"})

Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. >Suppose the following input is supplied to the program:

1,2,3,4,5,6,7,8,9
Then, the output should be:

1,9,25,49,81

In [ ]:
def ret_square():
  n = int(input("enter the no of turns : "))
  a=[]
  for i in range(1,n+1):
    b = int(input("Enter the no :"))
    a.append(b)
  for i in a:
    print(f"{i} : {i**2}")

ret_square()

enter the no of turns : 6
Enter the no :1
Enter the no :2
Enter the no :3
Enter the no :4
Enter the no :5
Enter the no :6
1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36

Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:

D 100
W 200
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:

D 300
D 300
W 200
D 100
Then, the output should be:

500
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def bank_tran():
  s = 0
  while True:
    n = input("enter d or w or b").lower()
    if n == 'd':
      deposit = int(input("How much would you like to deposit? "))
      s = s + deposit
    elif n == 'w':
      wi = int(input("How much would you like to withdraw? "))
      s = s - wi
    elif n == 'b':
      print(s)
    else:
      break

bank_tran()

enter d or w or bd
How much would you like to deposit? 300
enter d or w or bd
How much would you like to deposit? 300
enter d or w or bb
600
enter d or w or bw
How much would you like to withdraw? 200
enter d or w or b

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
facebook_employees.head()

a = pd.merge(facebook_employees,facebook_hack_survey,left_on='id',right_on='employee_id')
a.head(2)

b = a.groupby(['location'])['popularity'].mean().reset_index()

b

#a['location'].unique()

In [ ]:
import pandas as pd
import numpy as np

employee['avg_salary'] = employee.groupby(['department'])['salary'].transform('mean')
result = employee[['department','first_name','salary','avg_salary']]

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
employee.head()

a = pd.merge(employee,employee,left_on='manager_id',right_on='id')
a[a['salary_x'] > a['salary_y']][['first_name_x', 'salary_x']]

Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [ ]:
def get_company():
  n = input("Enter email : ")
  n = n.lower()
  l = n.split("@")
  a= l[1].replace('.com',"")
  return f"Company name : {a}"
get_company()

Enter email : rohan.das@GLOBALIDS.COM

'Company name : globalids'

Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

Example: If the following words is given as input to the program:

2 cats and 3 dogs.
Then, the output of the program should be:

['2', '3']

In [ ]:
def is_word():
  n  = input("Enter the sentence with space : ")
  l = n.split(" ")
  a=[]
  for i in l:
    if i.isdigit()==True:
      a.append(i)
  return a

is_word()

Enter the sentence with space : sum of 2 and 3 is 5

['2', '3', '5']

Print a unicode string "hello world".

In [ ]:
uni = u'hello world!'
print(uni)

hello world!

Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

In [ ]:
def com_sum():
  s = 0
  n = int(input("for how many turn sum ? : "))
  for i in range(1,n+1):
    s+= float(float(i)/(i+1))
  return round(s,2)

com_sum()

for how many turn sum ? : 5

3.55

Write a program to compute:

f(n)=f(n-1)+100 when n>0
and f(0)=0
with a given n input by console (n>0).

Example: If the following n is given as input to the program:

In [ ]:
def f(n):
  if n == 0:
    return 0
  else:
    return f(n-1)+100

f(5)

500

he Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program to compute the value of f(n) with a given n input by console.

Example: If the following n is given as input to the program:

7
Then, the output of the program should be:

13

In [ ]:
def f(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return f(n-1)+f(n-2)

n=int(input())
print(f(n))

7
13

In [ ]:
def fibo(n):
  if n == 0: return 0
  elif n == 1: return [0,1]
  else:
    s = [0,1]
    a,b = 0,1
    for i in range(2,n+1):
      c = a + b
      s.append(c)
      a = b
      b = c
    return s
fibo(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

even generator

In [ ]:
def ev_gen(n):
  a=[]
  for i in range(0,n+1,2):
    if i%2==0:
      a.append(i)
  return a

ev_gen(10)

[0, 2, 4, 6, 8, 10]

binary search

In [ ]:
def binary_search(lst, item):
    low = 0
    high = len(lst) - 1
    
    while low <= high:
        mid = round((low + high) / 2)
        
        if lst[mid] == item:
            return mid
        elif lst[mid] > item:
            high = mid - 1
        else:
            low = mid + 1
    return None
    
lst = [1,3,5,7,]
print(binary_search(lst, 9))

None

In [ ]:
def binary_search_Ascending(array, target):
    lower = 0
    upper = len(array)
    print('Array Length:',upper)
    while lower < upper:
        x = (lower + upper) // 2
        print('Middle Value:',x)
        value = array[x]
        if target == value:
            return x
        elif target > value:
            lower = x
        elif target < value:
            upper = x

Array = [1,5,8,10,12,13,55,66,73,78,82,85,88,99]
print('The Value Found at Index:',binary_search_Ascending(Array, 82))

Array Length: 14
Middle Value: 7
Middle Value: 10
The Value Found at Index: 10

Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.

In [ ]:
import random

r = [i for i in range(0,11,2)]
print(random.choice(r))

8

Please write a program to output a random number, which is divisible by 5 and 7, between 10 and 150 inclusive using random module and list comprehension.

In [ ]:
import random

r = [i for i in range(10,150) if i%5==0 and i%7==0 ]
print(random.choice(r))

70

Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [ ]:
import random

r = [i for i in range(100,201)]
print(random.sample(r,5))

[175, 178, 140, 149, 124]

In [ ]:
import random
r = [i for i in range(100,201) if i%2==0]
print(random.sample(r,5))

[148, 102, 128, 178, 130]

In [ ]:
import random
r = [i for i in range(7,16)]
print(random.choice(r))

9

In [ ]:
import time

before = time.time()
for i in range(100):
  x = 1 + 1
after = time.time()
e = after - before
e

0.00011992454528808594

Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [ ]:
for i in ["I", "You"]:
  for j in ["Play", "Love"]:
    for k in ["Hockey","Football"]:
      print(i +" "+ j + " " + k)

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

Please write a program to print the list after removing even numbers in [5,6,77,45,22,12,24].

In [ ]:
l = [5,6,77,45,22,12,24]
a = [i for i in l if i%2==0]
a

[6, 22, 12, 24]

By using list comprehension, please write a program to print the list after removing numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [ ]:
l = [12,24,35,70,88,120,155]
a = [i for i in l if i%5==0 and i%7==0]
a

[35, 70]

In [ ]:
li = [12,24,35,70,88,120,155]
li = [li[i] for i in range(len(li)) if i%2 != 0 and i <= 6]
print(li)

[24, 70, 120]

By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [ ]:
l = [12,24,35,24,88,120,155]

x = [ i for i in l if i!=24]
x

[12, 35, 88, 120, 155]

With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

In [ ]:
a = [1,3,6,78,35,55]
b = [12,24,35,24,88,120,155]
c=[]
for i in a:
  if i in b:
    c.append(i)

c

[35]

With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

In [ ]:
a = [12,24,35,24,88,120,155,88,120,155]

a = set(a)
list(a).sort(reverse=False)

Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [ ]:
class Person():
  def getGender(self):
    return "Unknown"

class Male(Person):
  def getGender(self):
    return "Male"

class Female(Person):
  def getGender(self):
    return "Female"

m = Male()
f=Female()
print(m.getGender())
print(f.getGender())

Male
Female

Please write a program which count and print the numbers of each character in a string input by console.

Example: If the following string is given as input to the program:

abcdefgabc
Then, the output of the program should be:

a,2
c,2
b,2
e,1
d,1
g,1
f,1

In [ ]:
def getString(s):
  s = s.lower()
  s = s.replace(" ","")
  l = set([i for i in s])
  for i in l:
    print(f"{i} : {s.count(i)}")

getString("Rohan Das")
print("*************")
getString("abcdefgabc")

n : 1
d : 1
r : 1
s : 1
o : 1
h : 1
a : 2
*************
c : 2
f : 1
d : 1
g : 1
e : 1
b : 2
a : 2

Please write a program which accepts a string from console and print it in reverse order.

Example: If the following string is given as input to the program:*

rise to vote sir
Then, the output of the program should be:

ris etov ot esir

In [ ]:
def get_rev(s):
  return s[::-1]

get_rev("rohan das")

'sad nahor'

Please write a program which prints all permutations of [1,2,3]

In [ ]:
from itertools import permutations

def permuation_generator(iterable):
    p = permutations(iterable)
    for i in p:
        print(i)


x = [1,2,3]
permuation_generator(x)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given scores. Store them in a list and find the score of the runner-up.

If the following string is given as input to the program:

5
2 3 6 6 5
Then, the output of the program should be:

5

In [ ]:
num = int(input())
scores = list(map(int, input().split(' ')))
winner = max(scores)
lst = []

if len(scores) != num:
  print('length of score is greater than input given')
  
else:
  for score in scores:
    if winner > score:
      lst.append(score)

runnerup = max(lst)
print(runnerup)

5
2 3 6 6 5
5

In [ ]:
from textwrap import wrap
x = str(input(': '))
w = int(input())
z = list(wrap(x, w))
for i in z:
    print(i)

: ABCDEFGHIJKLIMNOQRSTUVWXYZ
4
ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

aemstrong

In [ ]:
a = 'aba'

if a[::] == a[::-1]:
  print("a is palindrome")
else:
  print("not")

a is palindrome

Capitalize

In [ ]:

import math
import os
import random
import re
import sys

# Complete the solve function below.
def solve(s):
  return s.title()

solve("rohan das")

'Rohan Das'

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

# Complete the solve function below.
def solve(s):
    for i in s.split():
        s = s.replace(i,i.capitalize())
    return s

if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    s = input()

    result = solve(s)

    fptr.write(result + '\n')

    fptr.close()

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE CITY NOT REGEXP '[aeiou]$'

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE CITY NOT RLIKE '^[aeiou]' OR CITY NOT REGEXP '[aeiou]$'

In [ ]:
SELECT DISTINCT CITY
FROM STATION
WHERE CITY NOT RLIKE '^[aeiou]' AND CITY NOT REGEXP '[aeiou]$'

In [1]:
def dict_square(n):
  d=dict()
  for i in range(1,n+1):
    d[i] = i*i
  return d

dict_square(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [5]:
thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
  print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
  print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Middle Belt
for i in range(int((thickness+1)/2)):
  print((c*thickness*5).center(thickness*6) )   

#Bottom Pillars
for i in range(thickness+1):
  print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Bottom Cone
for i in range(thickness):
  print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

5
    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H