<a href="https://colab.research.google.com/github/rvjh/PythonPractice/blob/main/PythonPractice22092022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

********DAY 1********

Python coding question:

Given a list of integers, return True if the array contains a 3 next to a 3 somewhere.

Desired output:

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

has_33([3,3,1]) → True

In [ ]:
def has_33(arr):
  for idx in range(1,len(arr)):
    if arr[idx]== 3 and arr[idx-1]==3:
      return True
    return False

print(has_33([3,3,1]))
print(has_33([1,3,1]))
print(has_33([3, 1, 3]))

True
False
False

*******DAY 2********
Python coding question:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.

Desired output:

lesser_of_two_evens(2,4)---> 2

lesser_of_two_evens(2,3)---> 3

lesser_of_two_evens(3,4)---> 4

In [ ]:
def lesser_of_two_evens(a,b):
  if a%2==0 and b%2==0:
    if a > b:
      return b
    else:
      return a
  else:
    if a > b:
      return a
    else:
      return b

print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,3))
print(lesser_of_two_evens(3,4))

2
3
4

********DAY 3********
Python coding question:

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
def uni_list(l):
  s = set(l)
  print(f"old list : {l}")
  print(f"new list : {list(s)}")

uni_list([1,1,1,1,2,2,3,3,3,3,4,5])

old list : [1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 5]
new list : [1, 2, 3, 4, 5]

********DAY 4********
Python coding question:

Write a Python function to check whether a string is pangram or not. 

(Assume the string passed in does not have any punctuation)
Note:A pangram is a sentence containing every letter of the alphabet.

Example:
A quick brown fox jumps over the lazy dog.

In [ ]:
def pangram(s):
  alphabet='abcdefghijklmnopqrstuvwxyz'
  for char in alphabet:
    if char not in s.lower():
      return False
  
  return True

pangram("A quick brown fox jumps over the lazy dog")

True

********DAY 5********
Python coding question:
Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Crazy Chocolate') --> True
animal_crackers('Lazy Dog') --> False

In [ ]:
def animal_crackers(s):
  s=s.lower()
  l=s.split()
  if l[0][0] == l[1][0]:
    return True
  else:
    return False

a=input("enter teo word string")
animal_crackers(a)

enter teo word stringCrazy Chocolate

True

In [ ]:
a=input("enter teo word string")
animal_crackers(a)

enter teo word stringLazy Dog

False

Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True

 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(l):
  p=[]
  for i in range(0,len(l)-1):
    if l[i]==0 and l[i+1]==0 and l[i+2]==7:
      p.append(l[i])
      p.append(l[i+1])
      p.append(l[i+2])
  if p == [0,0,7]:
    return True
  else:
    return False

print(spy_game([1,2,4,0,0,7,5]))
print(spy_game([1,0,2,4,0,5,7]))
print(spy_game([1,7,2,0,4,5,0]))

True
False
False

********DAY 7********
Python coding question:

Define a function called myfunc that takes in a string,
and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. 
Desired output:
myfunc('aNiMaL')-->True

In [ ]:
def myfunc(s):
  m=''
  for i in range(0,len(s)):
    if i%2 !=0 :
      m = m + s[i].upper()
    else:
      m = m + s[i].lower()
  return m

myfunc('abcdr')

'aBcDr'

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [ ]:
def up_low(s):
  d={
      'upper':0,
     'lower':0
  }
  for i in s:
    if i.isupper():
      d['upper'] = d['upper'] + 1
    elif i.islower():
      d['lower'] = d['lower'] + 1
    else:
      pass
  return d


up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

{'upper': 4, 'lower': 33}

Write a Python function that checks whether a word or phrase is palindrome or not.
Example of Palindrome:
Hannah
Anna

In [ ]:
def palindrome(s):
  s = s.lower()
  if s[0:] == s[::-1]:
    return "Palindrome"
  else:
    return "Not plaindrome"

print(palindrome('Hannah'))

print(palindrome('Anahna'))

Palindrome
Not plaindrome

Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [ ]:
def mul_list(l):
  m = 1
  if len(l) == 0:
    return "mul not possible "
  else:
    for i in l:
      m = m*i
    return f"mul is {m}"

mul_list([1, 2, 3, -4])

'mul is -24'

Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def mul_three(s):
  m=''
  for i in range(0,len(s)):
    m = m + s[i]*3
  return m

print(mul_three('Hello'))
print(mul_three('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

Write a code to check whether a year is leap year or not.
Note:A year that is evenly divisible by 100 is a leap year only if it is also evenly divisible by 400.

Desired Output:
is_leap(1994)-->Leap year
is_leap(2100)-->not a Leap year
is_leap(2000)—>Leap year

In [ ]:
def is_leap(y):
  if (y%4==0 and y%100!=0) or y%400 ==0 :
    return (f"{y} is a leap year")
  else:
    return (f"{y} not a leap year")

print(is_leap(1994))
print(is_leap(2000))

1994 not a leap year
2000 is a leap year

Python coding question:
Write a function that capitalizes the first and fourth letters of a name.

TC 1:capitalize("chandrali")
  'ChaNdrali'
TC 2:capitalize("roy")
   'Name is too short!'

In [ ]:
def cap_one_four(s):
  if len(s) <4:
    return 'Name is too short!'
  else:
    return s[0].upper() + s[1:3] + s[3].upper() + s[4:]

print(cap_one_four('rohan'))
print(cap_one_four('chandrali'))
print(cap_one_four('roy'))

RohAn
ChaNdrali
Name is too short!

Print the list of integers from through as a string, without spaces.
Sample Input
3
Sample Output
123

In [ ]:
def to_list_str(m):
  l=[]
  for i in range(1,m+1):
    l.append(str(i))
  return ''.join(l)

to_list_str(3)

'123'

Print only the words that start with "s" in a sentence.

Input:
Salad is healthy snack.

Output:
Salad
snack

In [ ]:
def starts_s(s):
  s = s.lower()
  l = s.split()
  m=[]
  for i in l:
    if i[0] =='s':
      m.append(i)
  return m

starts_s('Salad is healthy snack')

['salad', 'snack']

********DAY 18********
Python coding question:

Given an integer n, return True if n is within 10 of either 100 or 200.
abs(90)--True
abs(220)--False

In [ ]:
def within(n):
  if (n in range(90,111) or n in range(190,211)):
    return True
  else:
    return False

print(within(190))
print(within(90))
print(within(150))
print(within(290))
print(within(89))

True
True
False
False
False

********DAY 19********
Python coding question:

BLACKJACK: Given three integers between 1 and 11,
if their sum is less than or equal to 21, return their sum. 
If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
  if a + b + c <= 21:
    return a + b + c
  elif (a+b+c) > 21 and (a == 11 or b == 11 or c == 11):
    return a+b+c -10
  else:
    return 'BUST'
    
print(blackjack(5,6,7))
print(blackjack(9,9,9))
print(blackjack(9,9,11))

18
BUST
19

Write a Python code to accept a string and count the number of vowels and consonants.
Print them separately.

In [ ]:
def vol_con(s):
  s = s.lower()
  s = s.replace(" ",'')
  v = 0
  c = 0
  for i in s:
    if i in ['a','e','i','o','u']:
      v = v+1
    else:
      c = c+1

  return f'no of voewls {v} and consonents {c}'

vol_con("Emma is good developer. Emma is a writer")

'no of voewls 15 and consonents 18'

Write a program to find the sum of squares of first 'n' natural numbers.
Input : N = 4
Output : 30

In [ ]:

def sum_of_n(a):
  if a == 0:
    return 0
  else:
    return (a*(a+1)*(2*a+1))/6

m = int(input("Enter the nth term : "))
sum_of_n(m)

Enter the nth term : 4

30.0

Write a program to find how many times substring “Emma” appears in the given string.
input:
str = "Emma is good developer. Emma is a writer"
Output:
Emma appeared 2 times

In [ ]:
def str_occ(s):
  s = s.lower()
  m = input("Enter the string to found : ")
  c = s.count(m)

  return f'the word {m} occuers {c} times. '

str_occ("Emma is good developer. Emma is a writer")

Enter the string to found : emma

'the word emma occuers 2 times. '

Write a function in Python that accepts a credit card number. 
It should return a string where all the characters are hidden with an asterisk except the last four. 
For example, if the function gets sent "4444444444444444", then it should return "4444".

In [ ]:
def return_credit(n):
  if len(n)<12 or len(n)>12:
    return 'Invalid card number '
  else:
    return 'X'*9+n[8:]

return_credit('123456789012')

'XXXXXXXXX9012'

Write a function in Python that accepts a list of any length that contains a mix of non-negative integers and strings.
The function should return a list with only the integers in the original list in the same order.

In [ ]:
def int_ret(l):
  a=[]
  for i in l:
    if str(i).isdigit():
      a.append(i)
    else:
      pass
  return a

a = [1,2,'rohan','ervb',23]
int_ret(a)

[1, 2, 23]

In [ ]:
#SQL 1

#ends with letter 'n'

select country from Data
where country like "%n"

In [ ]:
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the absolute difference in salaries

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
db_employee.head()

#db_dept.head()

c_df= db_dept.set_index('id').join(db_employee.set_index('department_id'))
salary_difference = abs( c_df[c_df['department']=='engineering'].salary.max() - c_df[c_df['department']=='marketing'].salary.max())
salary_difference

In [ ]:
SELECT
ABS((SELECT max(salary)
FROM db_employee emp
JOIN db_dept dept ON emp.department_id = dept.id
WHERE department = 'engineering') - (SELECT max(salary)
FROM db_employee emp
JOIN db_dept dept ON emp.department_id = dept.id
WHERE department = 'marketing')) AS salary_diffe;

In [ ]:
def findSum(str1):
    temp = "0"
    Sum = 0
    for ch in str1:
      if (ch.isdigit()):
        temp += ch

      else:
        Sum += int(temp)
        temp = "0"
    return Sum + int(temp)
 
str1 = "12abc20yz68"
 
# Function call
print(findSum(str1))

100

In [ ]:
## country name starts with a to z

select * from Data
where country like "[a-z]%"

In [4]:
def sum_of_two(a,b,v):
  for i in a:
    for j in b:
      if i + j == v:
        print(f"Possibel Match : {i} and {j} and sum is : {i+j}")

sum_of_two([1,2,-3],[10,20,-30],22)

Possibel Match : 2 and 20 and sum is : 22

In [5]:
#!/bin/python3

import math
import os
import random
import re
import sys


#
# Complete the 'fizzBuzz' function below.
#
# The function accepts INTEGER n as parameter.
#

def fizzBuzz(n):
    # Write your code here
    for i in range(1,n+1):
        if i%3==0 and i%5==0:
            print("FizzBuzz")
        elif i%3==0 and i%5!=0:
            print("Fizz")
        elif i%3!=0 and i%5==0:
            print("Buzz")
        else:
            print(i)
if __name__ == '__main__':
    n = int(input().strip())

    fizzBuzz(n)

15
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

Find the details of each customer regardless of whether the customer made an order. Output the customer's first name, last name, and the city along with the order details.
You may have duplicate rows in your results due to a customer ordering several of the same items. Sort records based on the customer's first name and the order details in ascending order.

In [ ]:
select first_name,
       last_name,
       city,
       order_details
from customers left join orders
on customers.id = orders.cust_id
order by first_name,order_details

In [ ]:
select c.first_name,
       o.order_date,
       o.order_details,
       o.total_order_cost
from customers c left join orders o
on o.cust_id = c.id
where c.first_name in ('Jill','Eva')
order by cust_id

In [ ]:
## select records that have a in the second position

select country from Table
where country like '%_a'

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
ms_employee_salary.head()

r = ms_employee_salary.groupby(['id','first_name','last_name','department_id'])['salary'].max().reset_index().sort_values('id')

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
customers.head()

c = pd.merge(customers,orders,left_on='id',right_on='cust_id',how='left')

r = c[['first_name','last_name','city','order_details']].sort_values(['first_name','order_details'])