<a href="https://colab.research.google.com/github/rvjh/PythonPractice/blob/main/PythonPractice22092022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

********DAY 1********

Python coding question:

Given a list of integers, return True if the array contains a 3 next to a 3 somewhere.

Desired output:

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

has_33([3,3,1]) → True

In [8]:
def has_33(arr):
  for idx in range(1,len(arr)):
    if arr[idx]== 3 and arr[idx-1]==3:
      return True
    return False

print(has_33([3,3,1]))
print(has_33([1,3,1]))
print(has_33([3, 1, 3]))

True
False
False

*******DAY 2********
Python coding question:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd.

Desired output:

lesser_of_two_evens(2,4)---> 2

lesser_of_two_evens(2,3)---> 3

lesser_of_two_evens(3,4)---> 4

In [12]:
def lesser_of_two_evens(a,b):
  if a%2==0 and b%2==0:
    if a > b:
      return b
    else:
      return a
  else:
    if a > b:
      return a
    else:
      return b

print(lesser_of_two_evens(2,4))
print(lesser_of_two_evens(2,3))
print(lesser_of_two_evens(3,4))

2
3
4

********DAY 3********
Python coding question:

Write a Python function that takes a list and returns a new list with unique elements of the first list.

Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [13]:
def uni_list(l):
  s = set(l)
  print(f"old list : {l}")
  print(f"new list : {list(s)}")

uni_list([1,1,1,1,2,2,3,3,3,3,4,5])

old list : [1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 5]
new list : [1, 2, 3, 4, 5]

********DAY 4********
Python coding question:

Write a Python function to check whether a string is pangram or not. 

(Assume the string passed in does not have any punctuation)
Note:A pangram is a sentence containing every letter of the alphabet.

Example:
A quick brown fox jumps over the lazy dog.

In [15]:
def pangram(s):
  alphabet='abcdefghijklmnopqrstuvwxyz'
  for char in alphabet:
    if char not in s.lower():
      return False
  
  return True

pangram("A quick brown fox jumps over the lazy dog")

True

********DAY 5********
Python coding question:
Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Crazy Chocolate') --> True
animal_crackers('Lazy Dog') --> False

In [16]:
def animal_crackers(s):
  s=s.lower()
  l=s.split()
  if l[0][0] == l[1][0]:
    return True
  else:
    return False

a=input("enter teo word string")
animal_crackers(a)

enter teo word stringCrazy Chocolate

True

In [17]:
a=input("enter teo word string")
animal_crackers(a)

enter teo word stringLazy Dog

False

Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True

 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [20]:
def spy_game(l):
  p=[]
  for i in range(0,len(l)-1):
    if l[i]==0 and l[i+1]==0 and l[i+2]==7:
      p.append(l[i])
      p.append(l[i+1])
      p.append(l[i+2])
  if p == [0,0,7]:
    return True
  else:
    return False

print(spy_game([1,2,4,0,0,7,5]))
print(spy_game([1,0,2,4,0,5,7]))
print(spy_game([1,7,2,0,4,5,0]))

True
False
False

********DAY 7********
Python coding question:

Define a function called myfunc that takes in a string,
and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. 
Desired output:
myfunc('aNiMaL')-->True

In [24]:
def myfunc(s):
  m=''
  for i in range(0,len(s)):
    if i%2 !=0 :
      m = m + s[i].upper()
    else:
      m = m + s[i].lower()
  return m

myfunc('abcdr')

'aBcDr'

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33

In [28]:
def up_low(s):
  d={
      'upper':0,
     'lower':0
  }
  for i in s:
    if i.isupper():
      d['upper'] = d['upper'] + 1
    elif i.islower():
      d['lower'] = d['lower'] + 1
    else:
      pass
  return d


up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

{'upper': 4, 'lower': 33}

Write a Python function that checks whether a word or phrase is palindrome or not.
Example of Palindrome:
Hannah
Anna

In [35]:
def palindrome(s):
  s = s.lower()
  if s[0:] == s[::-1]:
    return "Palindrome"
  else:
    return "Not plaindrome"

print(palindrome('Hannah'))

print(palindrome('Anahna'))

Palindrome
Not plaindrome

Write a Python function to multiply all the numbers in a list.

Sample List : [1, 2, 3, -4]
Expected Output : -24

In [36]:
def mul_list(l):
  m = 1
  if len(l) == 0:
    return "mul not possible "
  else:
    for i in l:
      m = m*i
    return f"mul is {m}"

mul_list([1, 2, 3, -4])

'mul is -24'

Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [38]:
def mul_three(s):
  m=''
  for i in range(0,len(s)):
    m = m + s[i]*3
  return m

print(mul_three('Hello'))
print(mul_three('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

Write a code to check whether a year is leap year or not.
Note:A year that is evenly divisible by 100 is a leap year only if it is also evenly divisible by 400.

Desired Output:
is_leap(1994)-->Leap year
is_leap(2100)-->not a Leap year
is_leap(2000)—>Leap year

In [43]:
def is_leap(y):
  if (y%4==0 and y%100!=0) or y%400 ==0 :
    return (f"{y} is a leap year")
  else:
    return (f"{y} not a leap year")

print(is_leap(1994))
print(is_leap(2000))

1994 not a leap year
2000 is a leap year

Python coding question:
Write a function that capitalizes the first and fourth letters of a name.

TC 1:capitalize("chandrali")
  'ChaNdrali'
TC 2:capitalize("roy")
   'Name is too short!'

In [50]:
def cap_one_four(s):
  if len(s) <4:
    return 'Name is too short!'
  else:
    return s[0].upper() + s[1:3] + s[3].upper() + s[4:]

print(cap_one_four('rohan'))
print(cap_one_four('chandrali'))
print(cap_one_four('roy'))

RohAn
ChaNdrali
Name is too short!

Print the list of integers from through as a string, without spaces.
Sample Input
3
Sample Output
123

In [52]:
def to_list_str(m):
  l=[]
  for i in range(1,m+1):
    l.append(str(i))
  return ''.join(l)

to_list_str(3)

'123'

Print only the words that start with "s" in a sentence.

Input:
Salad is healthy snack.

Output:
Salad
snack

In [56]:
def starts_s(s):
  s = s.lower()
  l = s.split()
  m=[]
  for i in l:
    if i[0] =='s':
      m.append(i)
  return m

starts_s('Salad is healthy snack')

['salad', 'snack']