#### 1. Check if a list contains an element

In [5]:
l1 = [1,3,'a',6]

num = int(input("Enter a number to search in the  list :"))

if num in l1:
  print("Present")
else:
  print("not")

Enter a number to search in the  list :3
Present

#### 2. How to iterate over 2+ lists at the same time

#### Use zip finction

In [7]:
a = [1,2,3,4]
b= ['m','n','o']

c= zip(a,b)

for num, char in c:
  print(f"num is {num} and char is {char}")

num is 1 and char is m
num is 2 and char is n
num is 3 and char is o

#### 3. Using list as a dictonary

In [9]:
a = [1,2,3,4]
b= ['m','n','o']

c = zip(a,b)
d = dict(c)
print(d)

{1: 'm', 2: 'n', 3: 'o'}

#### Find the index of the 1st matching element

In [11]:
a = [1,2,3,1 ,2]
print(a.index(1))
print(a.index(2))

0
1

#### Iterate over both the values in a list and their indices

In [17]:
b= ['m','n','o']

for i in b:
  print(f"Index {b.index(i)} values ==> {i}")

Index 0 values ==> m
Index 1 values ==> n
Index 2 values ==> o

#### How to concatenate two lists

In [19]:
a = [1,2,3,4]
b= ['m','n','o']
c = a+b
print(c)

[1, 2, 3, 4, 'm', 'n', 'o']

#### removing elements from a list

In [20]:
a = [1,5,3,69,87,25]

a.remove(25)

In [21]:
a

[1, 5, 3, 69, 87]

In [23]:
a = [1,5,3,69,87,25]

num = int(input("Enter the num"))
i = a.index(num)
a.remove(num)

print(f"{num} rmoved from list from index {i}")
print(a)

Enter the num69
69 rmoved from list from index 3
[1, 5, 3, 87, 25]

#### How to manipulate every element in a list with list comprehension
add 5 to each element

In [24]:
a = [1,5,3,69,87,25]

print([i+5 for i in a])

[6, 10, 8, 74, 92, 30]

#### Count the occurrence of a specific object in a list

In [26]:
pets = ['dog','cat','fish','fish','cat','fish']

s = input("Enter : ")

print(pets.count(s))

Enter : fish
3

#### How to shallow copy a list?
.copy() can be used to shallow copy a list.

In [28]:
pets = ['dog','cat','fish','fish','cat','fish']

p = pets.copy()

p.remove("cat")

print(pets)

print(p)

['dog', 'cat', 'fish', 'fish', 'cat', 'fish']
['dog', 'fish', 'fish', 'cat', 'fish']

#### Return the length of a list

In [29]:
pets = ['dog','cat','fish','fish','cat','fish']
len(pets)

6

Multiply every element in a list by 5 with the map function

In [30]:
def m(num):
  return num*5

a = [10,20,30,40]

[ val for val in map(m,a)]

[50, 100, 150, 200]

#### Combine 2 lists into a list of tuples with the zip function

In [31]:
a = [10,20,30,40]
b = ['m','n','o','p']

c= zip(a,b)
t = tuple(c)
t

((10, 'm'), (20, 'n'), (30, 'o'), (40, 'p'))

#### Insert a value at a specific index in an existing list

In [33]:
a = [10,20,30,40]

b = int(input("Enter num : "))
c = int(input("Enter index : "))

a[c]= b
a

Enter num : 69
Enter index : 2

[10, 20, 69, 40]

In [34]:
### we can also use .insert()

a = [10,20,30,40]

b = int(input("Enter num : "))
c = int(input("Enter index : "))

a.insert(c,b)
a

Enter num : 69
Enter index : 3

[10, 20, 30, 69, 40]

#### Subtract values in a list from the first element with the reduce function

In [37]:
from functools import reduce

c = [10,20,30,40]

def m(a,b):
  return a-b

reduce(m,c)

-80

#### Remove negative values from a list with the filter function

In [39]:
a = [-10, 27, 1000, -1, 0, -30]

def m(x):
  if x>=0:
    return True
  else:
    return False

[x for x in filter(m,a)]

[27, 1000, 0]

#### Convert a list into a dictionary where list elements are keys

In [41]:
a = [10,20,30,40]
b = ['m','n','o','p']

c= zip(b,a)
d = dict(c)
d

{'m': 10, 'n': 20, 'o': 30, 'p': 40}

#### Modify an existing list with a lambda function

In [47]:
a = [10,20,30,40,50]
list(map(lambda val:val*5, a))

[50, 100, 150, 200, 250]

In [49]:
b = ['m','n','o','p']

list(map(lambda val : val+'abc' , b))

['mabc', 'nabc', 'oabc', 'pabc']

#### Remove elements in a list after a specific index

In [50]:
b = ['m','n','o','p']
b[:2]  ## exclude

['m', 'n']

#### Remove elements in a list before a specific index

In [52]:
b = ['m','n','o','p']
b[1:]

['n', 'o', 'p']

#### Remove elements in a list between 2 indices

In [53]:
b = ['m','n','o','p']

b[0:2]

['m', 'n']

#### Return every 2nd element in a list between 2 indices

In [56]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
li[10:16:2]

[11, 13, 15]

#### Sort a list of integers in ascending order

In [58]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
li.sort()   ## by default ascendring
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]
li.sort(reverse=True)   ## decendring
li

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Filter even values out of a list with list comprehension

In [62]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

[ i for i in li if i%2 ==0 ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 10]

In [63]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

[ i for i in li if i%2 !=0 ]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Count occurrences of each value in a list and print as dictonary

In [70]:
li = ['blue', 'pink', 'green', 'green', 'yellow', 'pink', 'orange']

c = []

for i in li:
  c.append(li.count(i))

d = dict(zip(li,c))
d

{'blue': 1, 'green': 2, 'orange': 1, 'pink': 2, 'yellow': 1}

#### Get the first element from each nested list in a list

In [73]:
li = [[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]

for i in li:
  print(i[0])

1
4
7
10
13

#### Combine elements in a list into a single string.
This can be done with the join() function.

In [74]:
li = ['The','quick','brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

" ".join(li)

'The quick brown fox jumped over the lazy dog'

#### reversing a list

In [75]:
li = [1,2,3,4,5,6,7,8,9,10]
li.reverse()
li

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### Return the minimum , max value in a list

In [78]:
li = [1,2,3,4,5,6,7,8,9,10]
print(min(li))
print(max(li))
print(sum(li))

1
10
55

#### Use a list as a stack

In [81]:
s = []
s.append('rohan')
s.append('das')
s.append(7825)
print(s)


## LIFO
s.pop()
print(s)

['rohan', 'das', 7825]
['rohan', 'das']

Find the intersection of 2 lists

In [82]:
li1 = [1,2,3]
li2 = [2,3,4]
set(li1) & set(li2)

{2, 3}

 Find the difference between a set and another set

In [83]:
li1 = [1,2,3]
li2 = [2,3,4]
set(li1) - set(li2)

{1}

In [84]:
set(li2) - set(li1)

{4}

#### Reverse the order of a list using the slice syntax

In [85]:
li = ['a','b',3,4]

li[::-1]

[4, 3, 'b', 'a']

In [91]:
lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled

print([i*2 for i in lst])

#filter the list to exclude negative numbers
print([ i for i in lst if i >= 0])

#create a list of tuples like (number, square_of_number)
print([(i , i**2) for i in lst])

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(-10, 100), (-20, 400), (10, 100), (20, 400), (50, 2500)]

In [99]:
### Matrix

a = [
     [1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)

### matrix transpose 

t = []
for i in range(3):
  l = []
  for row in a:
    l.append(row[i])
  t.append(l)

print(t)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [101]:
transposed = [[row[i] for row in a] for i in range(len(a[0]))]
transposed

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### HCF of two numbers

In [105]:
def HCF(a,b):
  hcf = 1
  smaller = b if b < a else a
  for i in range(1,smaller+1):
    if a%i == 0 and b%i == 0:
      hcf = i
  return hcf

a = int(input("Enter : "))
b = int(input("Enter : "))
print(f"HCF  of {a} and {b} is {HCF(a,b)}")

Enter : 3
Enter : 10
HCF  of 3 and 10 is 1

In [106]:
def h(a,b):
  small = b if b < a else a

  hcf = []
  for i in range(1,small+1):
    if a%i == 0 and b%i==0:
      hcf.append(i)
  return hcf

a = int(input("Enter : "))
b = int(input("Enter : "))
print(f"HCF  of {a} and {b} is {h(a,b)}")

Enter : 2
Enter : 20
HCF  of 2 and 20 is [1, 2]

#### Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer  at position .
print: Print the list.
remove e: Delete the first occurrence of integer .
append e: Insert integer  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.
Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list.


12
insert 0 5
insert 1 10
insert 0 6
print
remove 6
append 9
append 1
sort
print
pop
reverse
print
Sample Output 0

[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [108]:
if __name__ == '__main__':
    N = int(input())
    l =[]
    l.append(5)
    l.append(10)
    l.insert(0,6)
    print(l)
    l.remove(6)
    l.append(9)
    l.append(1)
    l.sort()
    print(l)
    l.pop()
    l.reverse()
    print(l)

12
[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]