<a href="https://colab.research.google.com/github/rvjh/PythonPractice/blob/main/Untitled22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python map() function

In [5]:
a = [1,2,3,4]

def sum(n):
  return n + n

res = map(sum,a)
list(res)

[2, 4, 6, 8]

Write a Python program to triple all numbers of a given list of integers. Use Python map

In [6]:
def get_triple(n):
  return n*n*n

res = map(get_triple, [1,2,3,4])
print(list(res))

[1, 8, 27, 64]

Write a Python program to add three given lists using Python map and lambda

In [8]:
nums1 = [1, 2, 3] 
nums2 = [4, 5, 6] 
nums3 = [7, 8, 9] 

res = map(lambda  x, y, z: x + y + z , nums1, nums2, nums3)
print(list(res))

[12, 15, 18]

In [9]:
l = ['sat', 'bat', 'cat', 'mat']

m = list(map(list, l))
m

[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

Write a Python program to square the elements of a list using map() function

In [10]:
def get_square(n):
  return n**2

nums1 = [1, 2, 3] 

m = list(map(get_square,nums1))
m

[1, 4, 9]

Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence. Use map() function

In [16]:
def get_clean_text(s):
  return str(s).upper() , str(s).lower()

chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}

m = list(map(get_clean_text,chrars ))
m

[('E', 'e'),
 ('I', 'i'),
 ('O', 'o'),
 ('A', 'a'),
 ('F', 'f'),
 ('U', 'u'),
 ('B', 'b')]

Write a Python program to add two given lists and find the difference between lists. Use map() function

In [18]:
def get_add_sub(x,y):
  return x+y , x-y

nums1 = [1, 2, 3] 
nums2 = [3, 4, 5] 

m1 = list(map(get_add_sub, nums1,nums2))
print(m1)

[(4, -2), (6, -2), (8, -2)]

Lambda

In [22]:
str1 = 'GeeksforGeeks'

a = lambda str1 : str1.upper()[::-1]
print(a(str1))

SKEEGROFSKEEG

cube

In [27]:
l3 = lambda y : y*y*y

l3(5)

125