<a href="https://colab.research.google.com/github/rvjh/PythonPractice/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
##The numbers obtained should be printed in a comma-separated sequence on a single line.
for i in range(2000,3200):
  #print(i)
  if i%7==0 and i%5!=0:
    print(i)

In [ ]:
#Write a program which can compute the factorial of a given numbers.
#The results should be printed in a comma-separated sequence on a single line.Suppose the following input is supplied to the program: 8 Then, the output should be:40320

def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x = int(input())
fact(x)

8

40320

In [ ]:
a = [1,2,3,4]
b=[5,6,7,8]

c = dict(zip(a,b))
c

{1: 5, 2: 6, 3: 7, 4: 8}

In [ ]:
#With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included).
# and then the program should print the dictionary.Suppose the following input is supplied to the program: 8

#Then, the output should be:

#{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}#

a = int(input("Enter no of terms : "))
def d_i(a):
  d={}
  for i in range(1,a+1):
    d.update({i:i**2})
  return d

d_i(a)

Enter no of terms : 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
a = [1,2,3,4]
b= ['m','n','p','o']
c= dict(zip(a,b))
print(c)

print(sorted(c.values()))

{1: 'm', 2: 'n', 3: 'p', 4: 'o'}
['m', 'n', 'o', 'p']

In [ ]:
a = {0: 10, 1: 20}

a.update({2:30,3:40})
a

{0: 10, 1: 20, 2: 30, 3: 40}

In [ ]:
#Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program:
#34,67,55,33,12,98
#Then, the output should be:

#['34', '67', '55', '33', '12', '98']
#('34', '67', '55', '33', '12', '98')

m = []
a = int(input("Enter how many terms you want to enter : "))
while a!=0:
  b=int(input("Enter hnos "))
  m.append(b)
  a=a-1

print(m)
print(tuple(m))

Enter how many terms you want to enter : 6
Enter hnos 34
Enter hnos 67
Enter hnos 55
Enter hnos 33
Enter hnos 12
Enter hnos 98
[34, 67, 55, 33, 12, 98]
(34, 67, 55, 33, 12, 98)

In [ ]:
#Write a program that calculates and prints the value according to the given formula:

#Q = Square root of [(2 _ C _ D)/H]

#Following are the fixed values of C and H:

#C is 50. H is 30.

#D is the variable whose values should be input to your program in a comma-separated sequence.For example Let us assume the following comma separated input sequence is given to the program:

#100,150,180
#The output of the program should be:

#18,22,24

from math import sqrt 

C,H = 50,30

def calc(D):
    return sqrt((2*C*D)/H)

D = [int(i) for i in input().split(',')] 
D = [int(i) for i in D]   
D = [calc(i) for i in D]  
D = [round(i) for i in D] 
D = [str(i) for i in D]   
print(",".join(D))

100,150,180
18,22,24

In [ ]:
a = "lknckw nwdvlnwekv pwjpne wfjpewjf jwjpe qpjqpdjq 987 lwnfw pwjhpf"
a.upper()

'LKNCKW NWDVLNWEKV PWJPNE WFJPEWJF JWJPE QPJQPDJQ 987 LWNFW PWJHPF'

In [ ]:
s = "hello world and practice makes perfect and hello world again"
l=s.split(" ")
sorted(list(set(l)))

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

In [ ]:
for i in range(1000,3001):
  if i%2==0:
    print(i)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for i in fruits:
  if 'a' in i:
    newlist.append(i)
newlist

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

m = [i for i in fruits if 'a' in i]
m

['apple', 'banana', 'mango']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
#thislist.sort()
#thislist
print(thislist.reverse())

None

################

In [ ]:
a = "beautiful banana"
print(len(a))

def le(s):
  c=0
  for i in s:
    c = c+1
  return c

le(a)

16

16

In [ ]:
a = "beautiful banana"
from collections import Counter

Counter(a)

Counter({'b': 2,
         'e': 1,
         'a': 4,
         'u': 2,
         't': 1,
         'i': 1,
         'f': 1,
         'l': 1,
         ' ': 1,
         'n': 2})

In [ ]:
def cha_cou(s):
  d={}
  for i in s:
    keys = d.keys()
    if i in keys:
      d[i]+=1
    else:
      d[i]=1
  return d

cha_cou(a)

{'b': 2,
 'e': 1,
 'a': 4,
 'u': 2,
 't': 1,
 'i': 1,
 'f': 1,
 'l': 1,
 ' ': 1,
 'n': 2}

In [ ]:
def ab(s):
  u = set(s.replace(" ",""))
  for i in u:
    print(f"{i} : {s.count(i)}")

ab(a)

i : 1
f : 1
e : 1
n : 2
u : 2
b : 2
l : 1
a : 4
t : 1

In [ ]:
# get a string made of the first 2 and the last 2 chars from a given a string.
a='rohan das'
def get_st(a):
  m=a[0:2]
  n=a[-2:]
  return m+n 

get_st(a)

'roas'

In [ ]:
#get a single string from two given strings, separated by a space and swap the first two characters 

def swap():
  a=input("enter 1st      : ")
  b = input("Enter second : ")
  a1 = a[:2]+b[2:]
  a2 = b[:2]+a[2:]
  return a1,a2
swap()

enter 1st      : abc
Enter second : xyz

('abz', 'xyc')

In [ ]:
def get_ing():
  a=input("enter 1st      : ")  
  if len(a)>=3:
    print("ing/ly possible")
    if 'ing' in a:
      return a+'ly'
    else:
      return a+'ing'
  else:
    print("ing/ly not possible len < 3")
get_ing()

enter 1st      : ab
ing/ly not possible len < 3

In [7]:
from re import S
def fact_1(n):
  if n==0 or n==1:
    return 1
  else:
    return n*fact_1(n-1)

def fact_2():
  e = int(input("Enter the no : "))
  s = 1
  for i in range(1,e+1):
    s = s * fact_1(i)
  return s

fact_2()

Enter the no : 4

288