<a href="https://colab.research.google.com/github/rvjh/PythonPractice/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

In [4]:
a = lambda x : x+15

a(10)

25

In [5]:
a = lambda x,y : x * y

a(3,5)

15

In [6]:
a_1 = lambda x : x * 1
a_2 = lambda x : x * 2
a_3 = lambda x : x * 3
a_4 = lambda x : x * 4
a_5 = lambda x : x * 5

a = int(input("enter a no : "))
print(f"Singl no : {a_1(a)}")
print(f"double no : {a_2(a)}")
print(f"triplel no : {a_3(a)}")
print(f"quad no : {a_4(a)}")
print(f"penta no : {a_5(a)}")

enter a no : 15
Singl no : 15
double no : 30
triplel no : 45
quad no : 60
penta no : 75

sort a list of tuples using Lambda

In [8]:
a = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
a

[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

In [9]:
a.sort(key=lambda x : x[1])
print(a)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

Write a Python program to sort a list of dictionaries using Lambda

In [15]:
a = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
a.sort(key = lambda x : x['color'])
print(a)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

Write a Python program to filter a list of integers using Lambda

In [16]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a_ev = list(filter(lambda x : x%2 == 0,l))
a_odd = list(filter(lambda x : x%2 != 0,l))

print(a_ev)
print(a_odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

Write a Python program to create Fibonacci series upto n using Lambda

[0, 1, 1, 1, 1]