<a href="https://colab.research.google.com/github/rvjh/PythonPractice/blob/main/Untitled73.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l1= ['a','b','c']
l2 = [1,2,3]

d = dict(zip(l1,l2))
d

{'a': 1, 'b': 2, 'c': 3}

In [10]:
import pandas as pd

pd.DataFrame(l2,index=l1)

   0
a  1
b  2
c  3

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other

In [20]:
def test_distinct(data):
  if len(data) == len(set(data)):
    return True
  else:
    return False;
print(test_distinct([1,5,7,9]))
print(test_distinct([2,4,5,5,7,9]))

True
False

Write a Python program to create all possible strings by using 'a', 'e', 'i', 'o', 'u'. Use the characters exactly once.

In [22]:
import random
ch = ['a', 'e', 'i', 'o', 'u']
random.shuffle(ch)

print(' '.join(ch))

i e o a u

Write a Python program to remove and print every third number from a list of numbers until the list becomes empty.

---

In [30]:
def rem(l):
  len_l = len(l)
  pos = 2
  idx = 0
  while len_l>0:
    idx = (pos + idx)%len_l
    print(l.pop(idx))
    len_l = len_l - 1


a = [10,20,30,40,50,60,70,80,90]
rem(a)

30
60
90
40
80
50
20
70
10

Write a Python program to sum all the items in a list.

In [31]:
def s(l):
  print(sum(l))

a = [10,20,30,40,50,60,70,80,90]
s(a)

450

Write a Python program to multiply all the items in a list

In [33]:
m = 1
a = [10,20,30,40,50,60,70,80,90]

for i in a:
  m = m*i

print(m)

362880000000000

In [35]:
from functools import reduce

reduce(lambda x,y : x*y , a)

362880000000000

Write a Python program to get the largest number from a list

In [38]:
a = [10,20,30,40,50,60,70,80,90]

print(max(a))
print(min(a))

90
10

ite a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [44]:
a = ['abc', 'xyz', 'aba', '1221']

count = 0
for i in a:
  if len(i)>=2 and i[0]==i[-1]:
    print(i)
    count=count+1
print(count)

aba
1221
2

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [57]:
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

def k(n):
  return n[-1]

def sort(l):
  return sorted(l,key=k)

sort(a)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Write a Python program to remove duplicates from a list

In [63]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

Write a Python program to check a list is empty or not

In [65]:
a = [10,20,30,20,10,50,60,40,80,50,40]

b = []
if len(b):
  print("Not empty")
else:
  print("empty")

empty

Write a Python program to find the list of words that are longer than n from a given list of words.

In [69]:
a = "I am rohan das"
b=list(a.split(' '))
def m(l, n):
  for i in l:
    if len(i)>=n:
      print(i)

m(b,1)

I
am
rohan
das

Write a Python function that takes two lists and returns True if they have at least one common member.

In [71]:
a = [1,2,3,4]
b = [2,6,7,8]

for i in a:
  if i in b:
    print("True")
  else:
    print("Flse")

Flse
True
Flse
Flse

Write a Python script to sort (ascending and descending) a dictionary by value

In [78]:
a = {
    'm':10,
     'n':5,
     'o':3,
     'p':13
}

import operator


print(sorted(a.items(),key=operator.itemgetter(1)))

print(sorted(a.items(),key=operator.itemgetter(1),reverse=True))

[('o', 3), ('n', 5), ('m', 10), ('p', 13)]
[('p', 13), ('m', 10), ('n', 5), ('o', 3)]

Write a Python script to add a key to a dictionary. Go to the editor

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [81]:
a = {0: 10, 1: 20}

a.update({2:30})
a

{0: 10, 1: 20, 2: 30}

Write a Python script to concatenate following dictionaries to create a new one. Go to the editor

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [85]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

d = {}
for i in (dic1,dic2,dic3):
  d.update(i)

print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

 Write a Python script to check whether a given key already exists in a dictionary.

In [88]:
a = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

i = int(input("Enter the key : "))

if i in a.keys():
  print("true")
else:
  print("False")

Enter the key : 10
False

Write a Python program to iterate over dictionaries using for loops.

In [89]:
a = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

for i,j in a.items():
  print(f"{i} has value {j}")

1 has value 10
2 has value 20
3 has value 30
4 has value 40
5 has value 50
6 has value 60

Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). Go to the editor
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [91]:
def d(n):
  a={}
  for i in range(1,n+1):
    a.update({i:i**2})
  print(a)

i = int(input("Enter the no : "))
d(i)

Enter the no : 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys

In [93]:
a={}
for i in range(1,16):
  a.update({i:i**2})
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Write a Python script to merge two Python dictionaries

In [96]:
dic1={'a': 100, 'b': 200}
dic2={'c': 200, 'd': 300}

c={}
#c=dic1.copy()

for i in (dic1,dic2):
  c.update(i)
print(c)

{'a': 100, 'b': 200, 'c': 200, 'd': 300}

Write a Python program to sum all the items in a dictionary

In [98]:
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

sum = 0
for i in a.values():
  sum=sum+i

print(sum)

1240

Write a Python program to multiply all the items in a dictionary

In [99]:
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

m=1
for i in a.values():
  m=m*i

print(m)

1710012252724199424000000

Write a Python program to remove a key from a dictionary.

In [101]:
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

a.pop(2)
a

{1: 1,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

Write a Python program to map two lists into a dictionary.

In [102]:
a = ['m','n']
b = [100,200]

c = dict(zip(a,b))
c

{'m': 100, 'n': 200}

Write a Python program to sort a given dictionary by key

In [107]:
c = {'m': 300, 'n': 200}

for k in sorted(c):
  print(k, c[k])

m 300
n 200

Write a Python program to get the maximum and minimum value in a dictionary.

In [113]:
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

min(a.values())
max(a.values())

225

Write a Python program to create a tuple with different data types.

In [116]:
l = [2,'rd',3.6,4+3j]

t = tuple(l)
print(t)

for i in t:
  print(type(i))

t[0]

(2, 'rd', 3.6, (4+3j))
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

2

Write a Python program to add an item in a tuple.

In [122]:
t = (2, 'rd', 3.6, (4+3j))
l = list(t)
l.append('dhj')
t1 = tuple(l)
print(t1)

(2, 'rd', 3.6, (4+3j), 'dhj')

Write a Python program to convert a tuple to a string

In [123]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

Write a Python program to get the 4th element and 4th element from last of a tuple.

In [125]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
print(len(tup))

print(tup[3])
print(tup[-4])

9
r
i

Write a Python program to find the repeated items of a tuple

In [140]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')

tup.count('e')

3

Write a Python program to check whether an element exists within a tuple

In [144]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')


i = input("Enter the item : ")

i in tup

Enter the item : e

True